<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title></title>
  <img src="title.png" alt="title" width="16" height="16">
  <link rel="stylesheet" href="css/normalize.css" type="text/css">
  <link rel="stylesheet" href="css/reset.css" type="text/css">
  <link rel="stylesheet" href="css/grid.css" type="text/css">
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <link rel="stylesheet" href="css/clientes.css" type="text/css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
  
</head>

<body>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
  
  <!-- Inicio Menu e apresentação -->

  <header class="header">
    <div class="container">
      <a href="/" class="grid-4">
        <img src="img/logo.svg" alt="LOGO">
        <nav class="grid-12 header_menu">
          <ul>
            <li><a href="/clientes">Clientes</a></li>
            <li><a href="/portifolio">portifolio</a></li>
            <li><a href="/contato">contato</a></li>
          </ul>
        </nav>
      </a>
    </div>
  </header>




  <div class="grid-16 relativ">

  <!-- Card deck -->
  <div class="card-deck">

    <!-- Card -->
    <div class="card mb-4">
  
      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" width="300" height="300" src="https://scontent.ffor1-3.fna.fbcdn.net/v/t31.0-8/473656_105417746270515_585855484_o.jpg?_nc_cat=108&_nc_sid=e3f864&_nc_ohc=59nA9grC8LwAX_d9Qld&_nc_ht=scontent.ffor1-3.fna&oh=63cb7c5a3b0cbb8167e1b3d4efd65096&oe=5F761F27"
          alt="Card image cap">
      </div>
  
      <!--Card content-->
      <div class="card-body">
  
        <!--Title-->
        <h4 class="card-title">Moto peças "O chinês"</h4>
  
      </div>
  
    </div>
    <!-- Card -->
  
    <!-- Card -->
    <div class="card mb-4">
  
      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" width="300" height="300" src="https://scontent.ffor1-3.fna.fbcdn.net/v/t1.0-9/625473_149648028540065_1199999923_n.jpg?_nc_cat=104&_nc_sid=09cbfe&_nc_ohc=klc_WFKIhSwAX9b6vpF&_nc_ht=scontent.ffor1-3.fna&oh=73596e3ce4994b63d0c103d8c0cfc19f&oe=5F773A78"
          alt="Card image cap">
       
      </div>
  
      <!--Card content-->
      <div class="card-body">
  
        <!--Title-->
        <h4 class="card-title">Madeireira Capitinga</h4>
        <!--Text-->
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
  
        <!--      <button type="button" class="btn btn-light-blue btn-md"> <a href="https://www.instagram.com/madeireiracapitinga10/" class="btn-color">
          <div class="mask rgba-white-slight"></div>
        </a>Ver Mais</button>
  -->
      </div>
  
    </div>
    <!-- Card -->
  
    <!-- Card -->
    <div class="card mb-4">
  
      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" width="300" height="300" src="https://scontent.ffor1-3.fna.fbcdn.net/v/t1.0-9/51443345_1498051620330033_3208442876232990720_o.jpg?_nc_cat=108&_nc_sid=8bfeb9&_nc_ohc=RG9SvOrArPMAX9pOyxA&_nc_ht=scontent.ffor1-3.fna&oh=cba825574a26ae5cc707f480e08257f0&oe=5F7505AC"
          alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
  
      <!--Card content-->
      <div class="card-body">
  
        <!--Title-->
        <h4 class="card-title">Lorão da Mídia</h4>
      </div>
  
    </div>
    <!-- Card -->
  
  </div>
  <!-- Card deck -->


  <!--       Segunda linha        -->


  <!-- Card deck -->
<div class="card-deck">

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" width="300" height="300" src="https://scontent.ffor1-3.fna.fbcdn.net/v/t1.0-9/46200373_525705344561576_1441155436991479808_o.jpg?_nc_cat=110&_nc_sid=09cbfe&_nc_ohc=dwXh2sD20x4AX_P1SPD&_nc_ht=scontent.ffor1-3.fna&oh=bb1ef1bce71279f809e634d3e0d47c81&oe=5F77B952"
        alt="Card image cap">
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Ótica Guilherme</h4>

    </div>

  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" width="300" height="300" src="https://scontent.ffor1-3.fna.fbcdn.net/v/t1.0-9/p960x960/117101248_841359669603583_8312605425424646311_o.png?_nc_cat=102&_nc_sid=85a577&_nc_ohc=speeo8OT3KYAX9eUvo1&_nc_ht=scontent.ffor1-3.fna&oh=500569ac9403c3ac1ff1acac356d64b0&oe=5F75838C"
        alt="Card image cap">
     
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">LAGOA Celulares</h4>
      <!--Text-->
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->

      <!--      <button type="button" class="btn btn-light-blue btn-md"> <a href="https://www.instagram.com/madeireiracapitinga10/" class="btn-color">
        <div class="mask rgba-white-slight"></div>
      </a>Ver Mais</button>
-->
    </div>

  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" width="300" height="300" src="https://scontent.ffor1-3.fna.fbcdn.net/v/t1.0-9/68753693_10212783176293469_2104241693925572608_o.jpg?_nc_cat=106&_nc_sid=84a396&_nc_ohc=YPpY27pAR-MAX-ERuO2&_nc_ht=scontent.ffor1-3.fna&oh=98067c920a71a1f5847387550924efba&oe=5F76C748"
        alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Advocacia Dr.Jackson</h4>
    </div>

  </div>
  <!-- Card -->

</div>
<!-- Card deck -->

  </div>
  <!-- Fim Card group -->


    <section class="quebra top">
      <blockquote class="quote-externo container">
      </blockquote>
    </section>


    <!-- Inicio  Rodapé-->

  	<footer>
      <div class="footer">
        <div class="container">
  
          <!-- Historia -->
  
          <div class="grid-8 footer-historia">
            <h3>Um pouco sobre a empresa</h3>
            <p class="neve">################ </p>
          </div>
  
          <!--  Contato -->
  
          <div class="grid-4 footer_contatos">
            <h3>contato</h3>
            <ul>
              <li><img src="/img/redes-sociais/fixo.svg" alt="fixo"></img>- 88 9 9960-9422</li>
              <li><img src="/img/redes-sociais/whatsapp.svg" alt="whatsapp">- 88 2147-0298</li>
              <li><img src="/img/redes-sociais/localizacao.svg" alt="localizacao">- Av. Plácido Castelo, 2090 - Centro,
                Quixadá - CE, 63900-076</li>
            </ul>
          </div>
  
          <!-- Redes -->
  
          <div class="grid-4 footer_redes">
            <h3>Contato</h3>
            <ul>
              <li><a href="https://www.facebook.com/pedro.leitedesousa.7" target="_blank"><img
                    src="img/redes-sociais/facebook.svg" alt="facebook"></a></li>
              <li><a href="https://www.instagram.com/pedroadesivodequixada/" target="_blank"><img
                    src="img/redes-sociais/instagram.svg" alt="instagram"></a></li>
            </ul>
          </div>
  
        </div>
      </div>
  
  
  
      <div class="copy">
        <div class="container">
          <p class="grid-16">Pedro Adesivos - Direitos reservados</p> Icons made by <a
            href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
            href="https://www.flaticon.com/" title="Flaticon" target="_blank"> www.flaticon.com</a>
        </div>
      </div>
    </footer>
  
  </body>
  
  </html>