<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<title>Pedro Adesivos</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/grid.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/contato.css">
</head>

<body>

	<header class="header">
		<div class="container">
			<a href="/" class="grid-4">
				<img src="img/logo.svg" alt="Bikcraft">
			</a>
			<nav class="grid-12 header_menu">
				<ul>
					<li><a href="/clientes">Clientes</a></li>
					<li><a href="/portifolio">Portfólio</a></li>
					<li><a href="/contato" class="menu_ativo">Contato</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<section class="introducao-interna interna_contato">
		<div class="container">
			<h1 class="subtitulo">Contato</h1>
			<p>tire suas dúvidas com a gente</p>
		</div>
	</section>

	<section class="contato container">
		<form id="form_orcamento" class="contato_form grid-8">
			<label for="nome">Nome</label>
			<input type="text" id="nome">
			<label for="email">E-mail</label>
			<input type="text" id="email">
			<label for="telefone">Telefone</label>
			<input type="text" id="telefone">
			<label for="espec">Especificações</label>
			<textarea id="espec"></textarea>
			<button type="submit" class="btn btn-preto">Enviar</button>
		</form>
		<div class="contato_dados grid-8">
			<h3>Dados</h3>
			<span>- 88 9 9960-9422</span>
			<span>- 88 2147-0298</span>
			<span>- Av. Plácido Castelo, 2090 - Centro, Quixadá - CE, 63900-076</span>
			<span>Quixadá - CE - Brasil</span>
			<h3>Redes Sociais</h3>
			<ul>
				<li><a href="https://www.facebook.com/pedro.leitedesousa.7" target="_blank"><img src="img/redes-sociais/facebook.svg"></a></li>
				<li><a href="https://www.instagram.com/pedroadesivodequixada/" target="_blank"><img src="img/redes-sociais/instagram.svg"></a></li>
			</ul>
		</div>
	</section>

	<section class="container contato_mapa">
		<a href="https://www.google.com/maps/place/Av.+Pl%C3%A1cido+Castelo,+2090+-+Centro,+Quixad%C3%A1+-+CE,+63900-162/@-4.9676657,-39.0181587,17z/data=!3m1!4b1!4m5!3m4!1s0x7be9fb905ee849b:0x6ae089370bb96419!8m2!3d-4.967671!4d-39.01597?hl=pt-BR" target="_blank" class="grid-16"><img src="img/mapa.jpg" alt="Pedro Adesivos"></a>
	</section>

	<section class="quebra">
		<blockquote class="quote-externo container">
			<p class="neve">"Ainda assim, existem dúvidas a respeito da qualidade do nosso serviço? Venha conferir."</p>
		</blockquote>
	</section>

	<!-- Inicio  Rodapé-->

	<footer>
		<div class="footer">
			<div class="container">

				<!-- Historia -->

				<div class="grid-8 footer-historia">
					<h3>Um pouco sobre a empresa</h3>
					<p class="neve">################ </p>
				</div>

				<!--  Contato -->

				<div class="grid-4 footer_contatos">
					<h3>contato</h3>
					<ul>
						<li><img src="/img/redes-sociais/fixo.svg" alt="fixo"></img>- 88 9 9960-9422</li>
						<li><img src="/img/redes-sociais/whatsapp.svg" alt="whatsapp">- 88 2147-0298</li>
						<li><img src="/img/redes-sociais/localizacao.svg" alt="localizacao">- Av. Plácido Castelo, 2090 - Centro,
							Quixadá - CE, 63900-076</li>
					</ul>
				</div>

				<!-- Redes -->

				<div class="grid-4 footer_redes">
					<h3>Contato</h3>
					<ul>
						<li><a href="https://www.facebook.com/pedro.leitedesousa.7" target="_blank"><img
									src="img/redes-sociais/facebook.svg" alt="facebook"></a></li>
						<li><a href="https://www.instagram.com/pedroadesivodequixada/" target="_blank"><img
									src="img/redes-sociais/instagram.svg" alt="instagram"></a></li>
					</ul>
				</div>

			</div>
		</div>



		<div class="copy">
			<div class="container">
				<p class="grid-16">Pedro Adesivos - Direitos reservados</p> Icons made by <a
					href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
					href="https://www.flaticon.com/" title="Flaticon" target="_blank"> www.flaticon.com</a>
			</div>
		</div>
	</footer>

</body>

</html>