<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title></title>
  <img src="title.png" alt="title" width="16" height="16">
  <link rel="stylesheet" href="css/normalize.css" type="text/css">
  <link rel="stylesheet" href="css/reset.css" type="text/css">
  <link rel="stylesheet" href="css/grid.css" type="text/css">
  <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
  <!-- Inicio Menu e apresentação -->

  <header class="header">
    <div class="container">
      <a href="/" class="grid-4">
        <img src="img/logo.svg" alt="LOGO">
        <nav class="grid-12 header_menu">
          <ul>
            <li><a href="/clientes">Clientes</a></li>
            <li><a href="/portifolio">portifolio</a></li>
            <li><a href="/contato">contato</a></li>
          </ul>
        </nav>
      </a>
    </div>
  </header>

  <section class="introducao">
    <div class="container">
      <h1>personalize de acordo com seu gosto</h1>
      <blockquote class="quote-externo">
        <p>"não tenha nada em sua casa que você não considere útil ou acredita ser bonito"</p>
        <cite>WILLIAM MORRIS</cite>
      </blockquote>
    </div>
  </section>

  <!-- FIM Menu e apresentação -->
  <!-- Inicio produtos -->

  <section class="produtos container">
    <h2 class="subtitulo">Serviços</h2>
    <ul class="produtos_lista">

      <li class="grid-4">
        <div class="produtos_icone">
          <img src="img/servicos/automovel.png" alt="automovel">
        </div>
        <h3>automoveis</h3>
      </li>

      <li class="grid-4">
        <div class="produtos_icone">
          <img src="img/servicos/motocicleta.png" alt="motocicleta">
        </div>
        <h3>motocicletas</h3>
      </li>

      <li class="grid-4">
        <div class="produtos_icone">
          <img src="img/servicos/geladeira.png" alt="geladeira">
        </div>
        <h3>geladeiras</h3>
      </li>

      <li class="grid-4">
        <div class="produtos_icone">
          <img src="img/servicos/bandeira.png" alt="bandeira">
        </div>
        <h3>baners</h3>
      </li>
    </ul>

    <!--    <div class="call">
      <p>Clique aqui e veja os detalhes</p>
      <a href="produtos.html" class="btn btn-preto">serviços</a>
    </div>
  -->
  </section>

  <!-- FIM Produtos -->
  <!-- Inicio Portifólio -->

  <section class="portifolio">
    <div class="container">
      <h2 class="subtitulo">portifólio</h2>
      <ul class="portifolio_lista">
        <li class="grid-8"><img src="img/portfolio/foto1.jpg" alt="Bicibleta retro"></li>
        <li class="grid-8"><img src="img/portfolio/foto2.jpg" alt="Bicibleta passeio"></li>
        <li class="grid-16"><img src="img/portfolio/foto3.jpg" alt="Bicibleta esporte"></li>
      </ul>
    </div>

    <div class="call">
      <p>Clique aqui e veja os detalhes</p>
      <a href="/portifolio" class="btn btn-branco">portifolio</a>
    </div>

  </section>

  <!--FIM Portifolio -->
  <!-- Inicio Qualidade -->

  <section class="qualidade container">
    <h2 class="subtitulo">Qualidade</h2>
    <img src="img/pedro.jpg" alt="pedro Adesivos">
    <ul class="qualidade_lista">
      <li class="grid-1-3 distancia1">
        <h3>Durabilidade</h3>
        <p>Adesivos resistentes, não danifica a pintura do veículo e protege de pequenos arranhões.</p>
      </li>
      <li class="grid-4 distancia2">
        <h3>Design</h3>
        <p>Criamos sua arte, ou se desejar traga seu design.</p>
      </li>
      <li class="grid-4 distancia3">
        <h3>prático</h3>
        <p>Pode lavar seu veiculo tranquilo, o adesivo é resistente a agua.</p>
      </li>
    </ul>
    <div class="call">
      <p>conheça nossos clientes</p>
      <a href="/clientes" class="btn">Clientes</a>
    </div>
  </section>

  <!-- FIM Qualidade -->

  <section class="quebra">
    <blockquote class="quote-externo container">
      <p class="neve">"Ainda assim, existem dúvidas a respeito da qualidade do nosso serviço? Venha conferir."</p>
    </blockquote>
  </section>

  <!-- Inicio  Rodapé-->

  <footer>
    <div class="footer">
      <div class="container">

        <!-- Historia -->

        <div class="grid-8 footer-historia">
          <h3>Um pouco sobre a empresa</h3>
          <p class="neve">################ </p>
        </div>

        <!--  Contato -->

        <div class="grid-4 footer_contatos">
          <h3>contato</h3>
          <ul>
            <li><img src="/img/redes-sociais/fixo.svg" alt="fixo"></img>- 88 9 9960-9422</li>
            <li><img src="/img/redes-sociais/whatsapp.svg" alt="whatsapp">- 88 2147-0298</li>
            <li><img src="/img/redes-sociais/localizacao.svg" alt="localizacao">- Av. Plácido Castelo, 2090 - Centro, Quixadá - CE, 63900-076</li>
          </ul>
        </div>

        <!-- Redes -->

        <div class="grid-4 footer_redes">
          <h3>Contato</h3>
          <ul>
            <li><a href="https://www.facebook.com/pedro.leitedesousa.7" target="_blank"><img
                  src="img/redes-sociais/facebook.svg" alt="facebook"></a></li>
            <li><a href="https://www.instagram.com/pedroadesivodequixada/" target="_blank"><img
                  src="img/redes-sociais/instagram.svg" alt="instagram"></a></li>
          </ul>
        </div>

      </div>
    </div>

    <div class="copy">
      <div class="container">
        <p class="grid-16">Pedro Adesivos - Direitos reservados</p> Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank"> www.flaticon.com</a>
      </div>
    </div>
  </footer>

</body>

</html>